body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url("WhatsApp Image 2026-01-17 at 20.09.58.jpeg");
    background-size: cover;
    background-position: center;
}

/* MENU */
nav {
    background-color: #003366;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #ffcc00;
}

/* CONTAINER */
.container {
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    background: white;
    border-radius: 8px;
}

/* TITRE */
h1 {
    text-align: center;
    color: #003366;
    margin-bottom: 30px;
}

/* FORMULAIRE */
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* RADIO & CHECKBOX */
.radio-group,
.checkbox-group {
    display: flex;
    gap: 15px;
    align-items: center;
}

.full {
    grid-column: span 2;
}

/* BOUTON */
button {
    padding: 12px;
    background: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0055aa;
}

/* TABLEAU */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #003366;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}